In [1]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd

In [2]:
def func(s):
    if(s=="male"):
        return 0
    else:
        return 1

In [153]:
data = pd.read_csv("train.csv",delimiter=",")
df = data.copy()
#print(df.describe())
df.drop('Name',axis = 1,inplace=True)
df.drop('Cabin',axis = 1,inplace=True)
df.Age.fillna(df.Age.mean(),inplace=True)
df.Embarked.fillna('S',inplace=True)
df.drop('Embarked',axis=1,inplace=True)

df.drop('Ticket',axis=1,inplace=True)
#df.drop('Parch',axis=1,inplace=True)
#df.drop('Embarked',axis=1,inplace=True)
#df["Fare_Fare"] = df["Fare"]**2
#df["Age_age"] = df["Age"]**2
"""df["Pclass_Pclass"] = df["Pclass"]**2
df["Parch_Parch"] = df["Parch"]**2
df["Pclass_Age"] = df["Pclass"]*df["Age"]
df["Pclass_Age"] = df["Pclass"]*df["Age"]

df["Pclass_Fare"] = df["Pclass"]*df["Fare"]"""
df["Gender"] = df.Sex.apply(func)
df.drop('Sex',axis=1,inplace=True)
df["Res"] = df["Survived"]

df.drop("Survived",axis=1,inplace=True)
print(df.describe())
n = len(df.columns)-2
for i in range(n):
    temp = df.columns[i]
    for j in range(i,n):
        temp2 = df.columns[j]
        df[temp+"_"+temp2] = df[temp]*df[temp2]
df["Survived"] = df["Res"]
df.drop("Res",axis=1,inplace=True)
df.to_csv("out.csv",header=False,index=False)
data = np.loadtxt("out.csv",delimiter=",")
x = data[:,0:len(data[0])-1]
y = data[:,len(data[0])-1]
df.describe()

           Pclass         Age       SibSp       Parch        Fare      Gender  \
count  668.000000  668.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186   32.064552    0.360778
std      0.831638   12.753571    1.080327    0.854695   45.320835    0.480586
min      1.000000    0.670000    0.000000    0.000000    0.000000    0.000000
25%      2.000000   23.000000    0.000000    0.000000    7.925000    0.000000
50%      3.000000   29.700560    0.000000    0.000000   14.750000    0.000000
75%      3.000000   35.000000    1.000000    0.000000   31.275000    1.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200    1.000000

              Res
count  668.000000
mean     0.402695
std      0.490808
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

,Pclass,Age,SibSp,Parch,Fare,Gender,Pclass_Pclass,Pclass_Age,Pclass_SibSp,Pclass_Parch,...,Age_SibSp,Age_Parch,Age_Fare,SibSp_SibSp,SibSp_Parch,SibSp_Fare,Parch_Parch,Parch_Fare,Fare_Fare,Survived
count,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,...,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.00000,668.000000,668.000000,668.000000
mean,2.296407,29.700560,0.528443,0.407186,32.064552,0.360778,5.964072,65.167695,1.282934,0.964072,...,12.569854,10.526293,1005.489376,1.444611,0.562874,25.375001,0.89521,20.685766,3079.038766,0.402695
std,0.831638,12.753571,1.080327,0.854695,45.320835,0.480586,3.429989,33.863689,3.114874,2.285846,...,27.408673,29.852146,1659.713326,6.199452,1.926832,76.089147,3.08565,69.778713,13087.818936,0.490808
min,1.000000,0.670000,0.000000,0.000000,0.000000,0.000000,1.000000,0.920000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,2.000000,23.000000,0.000000,0.000000,7.925000,0.000000,4.000000,39.000000,0.000000,0.000000,...,0.000000,0.000000,215.174615,0.000000,0.000000,0.000000,0.00000,0.000000,62.805625,0.000000
50%,3.000000,29.700560,0.000000,0.000000,14.750000,0.000000,9.000000,62.500000,0.000000,0.000000,...,0.000000,0.000000,383.297388,0.000000,0.000000,0.000000,0.00000,0.000000,217.625000,0.000000
75%,3.000000,35.000000,1.000000,0.000000,31.275000,1.000000,9.000000,89.101679,1.000000,0.000000,...,22.000000,0.000000,1089.750000,1.000000,0.000000,20.221875,0.00000,0.000000,978.125625,1.000000
max,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,9.000000,222.000000,24.000000,18.000000,...,237.604478,258.000000,17931.522000,64.000000,16.000000,789.000000,36.00000,1052.000000,262481.209173,1.000000

In [154]:
x_train,x_test,y_train,y_test = model_selection.train_test_split(x,y)
alg1 = LogisticRegression()
alg1.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [155]:

"""data = pd.read_csv("test.csv",delimiter=",")
df = data.copy()
df.drop('Name',axis = 1,inplace=True)
df.drop('Cabin',axis = 1,inplace=True)
df.Age.fillna(df.Age.mean(),inplace=True)
df.Embarked.fillna('S',inplace=True)
df.drop('Embarked',axis=1,inplace=True)
df["Gender"] = df.Sex.apply(func)
df.drop('Sex',axis=1,inplace=True)
df.drop('Ticket',axis=1,inplace=True)
df.drop('Parch',axis=1,inplace=True)
df.drop('SibSp',axis=1,inplace=True)
df["Fare_Fare"] = df["Fare"]**2
#df["Pclass_Pclass"] = df["Pclass"]**2
#df["Pclass_Fare"] = df["Pclass"]*df["Fare"]
df.to_csv("out2.csv",header=False,index=False)
data = np.loadtxt("out2.csv",delimiter=",")
x_test = data[:,:]
y_test = alg1.predict(x_test)
np.savetxt("untitled.csv",y_test,fmt='%.1f',delimiter=",")"""
print(alg1.score(x_train,y_train))
print(alg1.score(x_test,y_test))

0.8143712574850299
0.7904191616766467